<?php

?>


<h1><?php echo h($user->username); ?></h1>
<p><?php echo h($user->email); ?></p>
<p><?php echo h($user->role); ?></p>
<p><small>Created: <?php //echo $article->created->format(DATE_RFC850) ?></small></p>